# SPDX-FileCopyrightText: 2025 Bobby Xiong, Tom Brown, Iegor Riepin
#
# SPDX-License-Identifier: CC0-1.0

.snakemake*
.ipynb_checkpoints
__pycache__
*dconf
gurobi.log
.vscode
*.orig

# Directories
/benchmarks
#/config/*
/cutouts
/data
/logs
/networks
/resources
/results

# LaTeX temporary files
*.aux
*.log
*.toc

# Latexmk
*.fdb_latexmk

# SyncTeX
*.synctex.gz

# LaTeX Beamer
*.snm
*.vrb
*.nav
*.out

# BibTeX
*.bbl
*.blg

*.fls
*.spl

# Additional LaTeX
*.acn
*.glo
*.ist

# Other
.sync-receive
.sync-send